{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Cook Simple</title>
        
        <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="{% static 'js/index.js' %}"></script>
    </head>
    <body>
        

        <div class="grid-container">
            <header>
                {% if user.is_authenticated %}
                    <nav>
                        <a class="add_btn" href="{% url 'recipe_new' %}">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <a class="logout_btn" href="{% url 'logout' %}">
                            <span class="glyphicon glyphicon-lock"></span>
                        </a>
                    </nav>
                {% endif %}
                <h1><a class="topheader" href="/">Cook Simple</a></h1>
            </header>

            <aside class="title">
                {% block content %}
                {% endblock %}
            </aside>

            <section id="recipe-ingredients">
                <h1>Ingredients</h1>
                <p id="recipe-ingredients-text" style="opacity: 0.6; white-space: pre-line;">Cook</p>
            </section>

            <section id="recipe-directions">
                <h1>Directions</h1>
                <p id="recipe-directions-text" style="opacity: 0.6; white-space: pre-line;">Simple</p>
            </section>
        </div>
    </body>
</html>