<html>
    <head>
        <title>Cook Simple</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Cook Simple</a></h1>
        </div>

        <div>
            <p>published: 31.05.2014, 23:28</p>
            <h2><a href="">Recipe 1</a></h2>
            <p>asdjlasjdklasjdklajsdkljasljdkalsd</p>
        </div>

        <div>
            <p>published: 31.05.2014, 23:28</p>
            <h2><a href="">Recipe 2</a></h2>
            <p>asdfjkhkjlxcyvhkjlhyvjklhlkjdh</p>
        </div>
    </body>
</html>