{% extends 'recipe/base.html' %}

{% block content %}
    <div class="post">
        {% if recipe.published_date %}
            <div class="date">
                {{ recipe.published_date }}
            </div>
        {% endif %}
        <a href="{% url 'recipe_edit' pk=recipe.pk %}"><button>EDIT</button></a>
        <a href="{% url 'recipe_remove' pk=recipe.pk %}"><button>REMOVE</button></a>
        <h2>{{ recipe.title }}</h2>
        <p>{{ recipe.ingredients|linebreaksbr }}</p>
        <p>{{ recipe.directions|linebreaksbr }}</p>
    </div>
{% endblock %}